<div class="container">
    <h2>login form</h2>
    <span>user</span>
    <input type="text" name="user" id="user" placeholder="user...">
    <span>password</span>
    <input type="text" name="passw" id="passw" placeholder="password...">


    <select id="rol" name="rol">
        <option id="rol">admin</option>
        <option id="rol">cliente</option>
    </select>
    <button onclick="logIn()">log in</button>
    <br><br>
</div>

<div>
    <div>
        <table>
            <tr>
                <th>usuario</th>
                <th>contrasenia</th>
                <th>cliente</th>
            </tr>

        </table>
    </div>
</div>