


.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
div.social-menu {
    position: absolute; /* cuando ponemos esto le podemos hacer todo lo que queramos con BOTTOM, LEFT, RIGHT, UP*/
    bottom: -70%;
    right: 50%;
    
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #f80632;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

#deleteTable {
    cursor: pointer;
    position: border-box;
  }
  
#deleteTable:hover {
    background: rgb(245, 0, 0);
}

#table:hover {
    background-color: #eee;
}


















.myTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.myTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.myTable th,
.myTable td {
    padding: 12px 15px;
}



.myTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.myTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.myTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}





.myTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}









/* Style the topnav links */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 0px 4px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  body{
      box-sizing: border-box;
      font-family: "Lato", sans-serif;
      background-color: rgb(248, 218, 155);
  }
  
  h1 {
      color: white;
      text-align: center;
  
    }
  
    h2 {
      color: white;
      text-align: center;
      background-color: gray;
    }
  
    .clearfix {
      overflow: auto;
      padding: 5px;
    }
  
  
  body,p{
      box-sizing: border-box;
      font-family: cursive;
      color: rgb(0, 0, 0);
      font-size: small;
    }
  
  .img1{
      float: right;
      width: 40%;
      height: auto;
  }
  
  .img2{
      float: left;
      width: 40%;
      height: auto;
  }
  
  div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 180px;
    }
  
    div.gallery:hover {
      border: 1px solid #777;
    }
  
    div.gallery img {
      width: 100%;
      height: auto;
    }
  
    div.desc {
      padding: 15px;
      text-align: center;
      color: aliceblue;
  
    }
  