<body style="background-image: url(/static/images/fondotodo.jpg)">
    <div>
        <div class="container">
            <h2>Create Account</h2>
            <span>user</span>
            <input type="text" name="user" id="user_reg" placeholder="user...">
            <span>password</span>
            <input type="text" name="passw" id="passw_reg" placeholder="password...">
            <button onclick="registerNewUser()">Create account</button>
        </div>

        <hr>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </div>
</body>