<body>
    <div class="card" style="background-image: url(/static/images/fondotodo.jpg)">
        <h2>Tekapa Hotel</h2>
        <h4>"La combinación perfecta entre lo pintoresco del pueblo de Alegría y nuestra acogedora casa."</h4>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-01.jpg">
                    <img src="/static/images/portfolio/thumb-01.jpg" alt="Cinque Terre" width="500" height="500">
                </a>
                <div class="desc">Desconéctate de la ciudad y ven a Tekapa.</div>
            </div>
        </div>


        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-02.jpg">
                    <img src="/static/images/portfolio/thumb-02.jpg" alt="Forest" width="500" height="500">
                </a>
                <div class="desc">Atardeceres mágicos con la mejor vista desde nuestras terrazas.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-03.jpg">
                    <img src="/static/images/portfolio/thumb-03.jpg" alt="Northern Lights" width="500" height="500">
                </a>
                <div class="desc">Café y el mejor clima en nuestros jardines.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-04.jpg">
                    <img src="/static/images/portfolio/thumb-04.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Visita nuestro Bistro Tekapa.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-05.jpg">
                    <img src="/static/images/portfolio/thumb-05.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Paz y tranquilidad en nuestra casa.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-06.jpg">
                    <img src="/static/images/portfolio/thumb-06.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Encuentra belleza en cada esquina.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-07.jpg">
                    <img src="/static/images/portfolio/thumb-07.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Spots perfectos para tus fotos.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-08.jpg">
                    <img src="/static/images/portfolio/thumb-08.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Tomate un descanso y respira...</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-09.jpg">
                    <img src="/static/images/portfolio/thumb-09.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Nos encantan nuestras habitaciones con balcones.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-10.jpg">
                    <img src="/static/images/portfolio/thumb-10.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Las puertas de nuestra casa siempre abiertas para ustedes.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-11.jpg">
                    <img src="/static/images/portfolio/thumb-11.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Somos pet friendly.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-12.jpg">
                    <img src="/static/images/portfolio/thumb-12.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Ven con tu familia a vivir momentos mágicos.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-13.jpg">
                    <img src="/static/images/portfolio/thumb-13.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Tenemos cuidado en cada detalle.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-14.jpg">
                    <img src="/static/images/portfolio/thumb-14.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Queremos que te sientas como en casa.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/static/images/portfolio/thumb-15.jpg">
                    <img src="/static/images/portfolio/thumb-15.jpg" alt="Mountains" width="500" height="500">
                </a>
                <div class="desc">Los esperamos siempre.</div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</body>
