<div class="row">
    <div class="leftcolumn ">
        <div class="card" style="background-image: url(/static/images/madera.jpg)">
            <h2>TEKAPA</h2>
            <h5>Vive una nueva experiencia...</h5>
            <img class="img2" src="/static/images/terraza2.jpeg" alt="Pineapple" width="300" height="300">
            <p>¿Quiénes somos?</p>
            <p>Somos un hotel cinco estrellas creado en el 2019, capacitados para brindar la mejor experiencia a los huéspedes que buscan despejar la mente en un ambiente de naturaleza. Contamos con un restaurante bistro abierto las veinticuatro horas para los huéspedes. Tenemos una variedad de habitaciones, según las necesidades de las personas.</p>
        </div>
        <div class="card" style="background-image: url(/static/images/madera.jpg)">
            <h2>¿Qué nos diferencia?</h2>
            <h5>Nuestra visión es convertirnos en una empresa de suprema calidad y que nuestros clientes se sientan cómodos en nuestras instalaciones, que tengan una experiencia grata y placentera en cada una de nuestras visitas para ganarnos sus corazones. 
Ser una familia TEKAPA</h5>
            <img class="img2" src="/static/images/terrazaAbajo.jpeg" alt="Pineapple" width="300" height="300">
            <p>Nuestros clientes: una prioridad</p>
            <p>Estamos a tu servicio para realizar reservaciones y para cualquier consulta que se le presente.
                ullamco.</p>
        </div>
    </div>

    <div class="rightcolumn" style="background-image: url(/static/images/cafe.jpg)">
        <div class="card" style="background-image: url(/static/images/madera.jpg)">
            <h2>Estamos ubicados en Alegría, Usulután, nos pueden ubicar por medio de la aplicación Waze.</h2>
            <div class="fakeimg" style="height:100px;">Estamos ubicados en Alegría, Usulután, nos pueden ubicar por medio de la aplicación Waze.

</div>
            <img class="img2" src="/static/images/ubicacion.jpeg" alt="Pineapple" width="300" height="350">

        </div>
        <div class="card" style="background-image: url(/static/images/madera.jpg)">
            <h1>bistro</h1>
            <div class="fakeimg">
                <img class="img2" src="/static/images/bebida.jpeg" alt="Pineapple" width="150" height="150">
                <p> bebidas</p>
            </div>
            <div class="fakeimg">
                <img class="img2" src="/static/images/pie.jpeg" alt="Pineapple" width="150" height="150">
                <p>postres</p>
            </div>
            <div class="fakeimg">
                <img class="img2" src="/static/images/parrillada.jpeg" alt="Pineapple" width="150" height="150">
                <p>platos fuertes</p>
            </div>
        </div>
        <div class="card" style="background-image: url(/static/images/madera.jpg)">
            <h2>Contactanos</h2>
            <p>tekapa.hotel@gmail.com</p>
            <p>2343-4587</p>
        </div>
    </div>
</div>
