<br><br>
<link rel="stylesheet" href="/static/style.css">
<p> </p>
<body style="background-image: url(/static/images/login.jpg)">
    <div>
        <div class="container">
            <h2>Log in</h2>
            <label for="user">user</label>
            <input type="text" name="user" id="user" placeholder="user...">
            <label for="passw">password</label>
            <input type="text" name="passw" id="passw" placeholder="password...">
            <button onclick="checkLogin()">log in</button>
        </div>

        <br>
        <a href="createAccount"><button>Create account</button></a>
        <hr>

        <script src="{{url_for('static', filename='script.js')}}"></script>
    </div>
</body>
